@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@400;600;700&display=swap');
   :root{
       --skyblue:skyblue ;
   }
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
}

header{
    background-color:var(--skyblue);
}
.logo{
    color: white; 
    font-size: 3rem;
}



li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.7s;
    font-size: 2rem;
    color: white ;
}
.nav-link:hover{
    color:burlywood ;
}
.hamburger{
    display: none;
    cursor: pointer;
    
    
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}
.heading{
    text-align: center;
    padding: 3rem;
}
.hero{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero .hero-description{
    padding: 8rem;
    font-size: 2.2rem;
    inline-size: 95%;
    width: 75%;
}
.hero img{
    width: 95%;
    padding: 8rem;
}






















/* media queries */
@media (max-width:768px){
    html{
        font-size: 55%;
    }

    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--skyblue);
        
        width: 100%;
        text-align: center;
        transition: .3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    .hero{
        flex-wrap: wrap;
    }
    .hero .hero-description{
        padding: 5rem;
        font-size: 1.5rem;
        inline-size: max-content;
        width: 100%;
    }
    .hero img{
        width: 98%;
        padding: 5rem;
        
    }
}


