@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@400;600;700&display=swap');
   :root{
       --skyblue:skyblue ;
   }
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}
*::selection{
    background: var(--skyblue);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0; left: 0;
    z-index: 500;
    background:#fff ;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    width: 100%;
    
}
.logo{
    color: var(--skyblue);
    font-size: 4rem;
    
}
 .heading{
    font-size: 3rem;
    color: #666;
    padding: 1rem;
    text-align: center;
}
 .hamburger{
    font-size: 3rem;
    color: skyblue;
    cursor: pointer;
    margin: 1rem;
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: var(--skyblue);
}
 .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
    padding: 1rem;
}
.navbar ul li{
    margin: 0 1.5rem;
}
.navbar ul li a{
    font-size: 2rem;
    color: var(--skyblue);

}
.navbar ul li a:hover{
    color: burlywood;
    
}

.hero{
    display: flex;
    text-align: center;
    justify-content: center;
    
    padding-top: 3rem;
    width: 98%;
    height: 100%;

}
.heroo{
    font-size: 3rem;
    margin: 4rem;
    padding: 3rem;
    inline-size: 95%;
}



















/* media queries */
@media (max-width:768px) {
    html{
        font-size: 55%;
        
    }
    .hamburger{
        display: block;
    }
    .hamburger .active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: .3s;
    }
    .nav-menu.active{
        left: 0;
    }
}
@media (max-width:500px) {
    html{
        font-size: 50%;
        
    }

    

   .hero{
       flex-wrap: wrap;
   }
}
